{% block sw_cms_element_image_config %}
<div class="sw-cms-el-config-youtube">

    <sw-cms-mapping-field :label="$tc('sw-cms.elements.image.label')" valueTypes="entity" entity="media" v-model="element.config.media">
        <sw-media-upload variant="regular"
                         :uploadTag="uploadTag"
                         :source="previewSource"
                         :allowMultiSelect="false"
                         :defaultFolder="cmsPageState.pageEntityName"
                         :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                         @media-upload-sidebar-open="onOpenMediaModal"
                         @media-upload-remove-image="onImageRemove">
        </sw-media-upload>

        <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
            <img :src="demoValue.url" v-if="demoValue.url">
            <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
            </sw-alert>
        </div>
    </sw-cms-mapping-field>

    <sw-upload-store-listener
        :uploadTag="uploadTag"
        autoUpload
        @media-upload-finish="onImageUpload">
    </sw-upload-store-listener>

    <sw-media-modal
        variant="regular"
        v-if="mediaModalIsOpen"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entityContext="cmsPageState.entityName"
        :allowMultiSelect="false"
        :initialFolderId="cmsPageState.defaultMediaFolderId"
        @media-upload-remove-image="onImageRemove"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal">
    </sw-media-modal>

    <swag-youtube-field class="sw-cms-el-config-youtube__link-input" v-model="element.config.videoSrc.value"></swag-youtube-field>
    <sw-field class="sw-cms-el-config-youtube__show-controls"
          v-model="element.config.showControls.value"
          type="switch"
          label="Show video controls">
    </sw-field>
</div>
{% endblock %}
