{% block sw_cms_element_image_viewport_preview %}
    <div class="sw-cms-el-preview-image-viewport">
        <img class="sw-cms-el-preview-image-viewport-img" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
